.listGroup{
    list-style:none;
    padding:0;
    margin:25px;
}

.listGroupItem{
    padding: 8px 10px;
    border-bottom: 2px solid lightgrey;
}

.listGroupItem:hover{
    background-color: purple;
}

.container{
    background: yellow;
}